body{
    display:flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color:#e5e7eb
}
p{
   margin:0;
   padding:0;
}
.header{
    display:flex;
    justify-content: space-between;
    background-color: #1f2937;
}
.card{
    display:flex;
    flex-direction: column;
    background-color: #1f2937;
}
.right{
    display:flex;
    gap:16px;
    padding:16px 120px;
    align-items: center;
}
.left{
    font-size:24px;
    color:#f9faf8;
    padding:16px 120px;
}